# This configuration file tells npm to always skip installing devDependencies.
# This is a workaround for cPanel's "Run NPM Install" button which incorrectly
# tries to install them even when the application is in "Production" mode.
omit=dev 